* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #F9F5ED;
}

nav {
    padding: 20px 10%;
    height: 15vh;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 60px;
}

nav ul li {
    list-style: none;
    /* margin-right:5%; */
    font-weight: 500;
}

nav ul li:hover {
    color: #3b855b;
    cursor: pointer;
    text-transform: uppercase;
    text-emphasis:inherit;
    font-size: x-large;
    animation: forwards;
}

/* CSS for HERO Section */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

.leftmain {
    width: 50%;
}
.leftmain p {
    margin: 5% 0;
}

.leftmain h1 {
    font-size: 67px;
}
.rightmain {
    width: 60%;
}

.leftmain button {
    padding: 15px 20px;
    border: none;
    background-color: #3b855b;
    color: white;
    font-weight: 500;
    border-radius: 10px;
}

.leftmain button:hover {
    padding: 15px 20px;
    border: none;
    background-color: #da880e;
    color: #3b855b;
    font-weight: 500;
    border-radius: 10px;
}

.rightmain div img{
    padding: 1%;
}